// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: font('NeueHaasDisplayMedium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: font('NeueHaasDisplayBold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}