// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: font('NeueHaasDisplay-Roman.woff2') format('woff2'),
        font('NeueHaasDisplay-Roman.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: font('NeueHaasDisplayBold.woff2') format('woff2'),
        font('NeueHaasDisplayBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}