@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('NeueHaasDisplayBold.woff2') format('woff2'),
        url('NeueHaasDisplayBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('NeueHaasDisplayMedium.woff2') format('woff2'),
        url('NeueHaasDisplayMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
