.about {
	box-sizing: border-box;
	padding: 70px 0 100px;
	&__item {
		display: flex;
		justify-content: space-between;
		margin-bottom: 140px;
	}
	&__item:last-child {
		margin-bottom: 0;
	}
	&__text {
		max-width: 600px;
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 33px;
		color: #3A3A3A;
		box-sizing: border-box;
		padding: 0 60px;
	}
	&__title {
		font-style: normal;
		font-weight: bold;
		font-size: 36px;
		line-height: 43px;
		color: #1C1C1C;
		display: table;
	}
	&__title span {
		display: table-cell;
		vertical-align: middle;
	}
}