.header {
	background: white;
	&__wrapper {
		padding: 30px 0;
		display:  flex;
		justify-content: space-between;
	}
	&__logo {
		display: block;
	}
	&__menu ul {
		display: flex;
		justify-content: space-between;
		width: 541px;
		padding: 17px 0;
	}
	&__menu ul li a {
		font-style: normal;
		font-weight: 600;
		font-size: 18px;
		line-height: 22px;
		color: #3A3A3A;
	}
}