.home {
	box-sizing: border-box;
	padding-top: 66px;
	&__title {
		font-style: normal;
		font-weight: bold;
		font-size: 40px;
		line-height: 48px;
		text-align: center;
		color: #1C1C1C;
		max-width: 589px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	&__items {
		margin-top: 140px;
	}
	&__item {
		display: flex;
		justify-content: space-between;
		margin-bottom: 140px;
	}
	&__item:last-child {
		margin-bottom: 0;
	}
	&__item-text {
		width: 616px;
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 33px;
		color: #3A3A3A;
		padding: 0 60px;
		box-sizing: border-box;
	}
	&__text-1 {
		margin-top: 109px;
	}
	&__text-2 {
		margin-top: 51px;
	}
	&__text-3 {
		margin-top: 0px;
	}
	&__text-4 {
		margin-top: 60px;
	}
	&__item-title {
		font-style: normal;
		font-weight: bold;
		font-size: 36px;
		line-height: 43px;
		color: #3A3A3A;
		margin-bottom: 32px;
	}
	&__item-image-1 img {
		width: 585.73px;
		height: 319.3px;
	}
	&__item-image-2 img {
		width: 585.87px;
		height: 277.89px;
	}
	&__item-image-3 img {
		width: 585.62px;
		height: 177.68px;
	}
	&__item-image-4 img {
		width: 586.44px;
		height: 339.48px;
	}

}