.timeline {
	padding: 100px 0 171px;
	&__wrap {
		position: relative;
	}
	&__line {
		position: absolute;
		width: 2px;
		background: #3A3A3A;
		height: 100%;
		margin: 0 13px;
	}
	&__posts {
		margin-left: 88px;
	}
	.post {
		display: flex;
		justify-content: space-between;
		padding-top: 57px;
		position: relative;
		&__info {
			width: 586px;
			padding: 0 60px;
		}
		&__date {
			font-style: normal;
			font-weight: bold;
			font-size: 36px;
			line-height: 43px;
			color: #1C1C1C;
		}
		&__title {
			font-style: normal;
			font-weight: bold;
			font-size: 24px;
			line-height: 29px;
			color: #3A3A3A;
		}
		&__text {
			font-style: normal;
			font-weight: 500;
			font-size: 18px;
			line-height: 33px;
			color: #3A3A3A;
			margin-top: 32px;
		}
	}
	.post:before {
		content: '';
		display: block;
		width: 28px;
		height: 28px;
		border-radius: 50%;
		background: #FCF9F7;
		border: 6px solid #E76F51;
		position: absolute;
		left: -87px;
		top: 64px;
	}
}