// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Base
$font: 'Neue Haas Grotesk Display Pro', sans-serif;
$base-font-size: 16px;
$base-path: '../';

// Colors
$white: #fff;
$black: #222;
